.funto{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #87E279 28.46%, rgba(217, 217, 217, 0) 100%);
}

div{
    background: rgba(133, 163, 133, 0.73);
}

.top1{
    position: absolute;
    width: 100%;
    height:450px;
    left: 0px;
    top: 0px;
    border-radius: 0px 0px 100px 100px;
    background: url(../imagens/funto.jpg);
}

.top11{
    position: absolute;
    width: 310px;
    height: 400px;
    left: 50px;
    top: 33px;
    background-color: rgba(245, 245, 245, 0.616);
    border-radius: 25px;
}

.top12{
    position: absolute;
    width: 161px;
    height: 161px;
    left: 75px;
    top: 5px;
    background: url(../imagens/1515.png);
    border-radius: 19px;
}

.textop12{
    position: absolute;
    width: 300px;
    height: 150px;
    left: 5px;
    top: 210px;
    background-color: rgba(240, 254, 255, 0);
    font-family: 'CantoraOne';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
}

.top13{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 5px;
    top: 5px;
    background: url(../imagens/arvire2.png);
    border-radius: 188.5px;
    border: 3px solid #ace795;
    animation: top13 5s infinite;
}

@keyframes top13 {
    0%{left: 5px;}
    50%{left: 150px;}
    100%{left: 5px;}
}

.top23{
    position: absolute;
    width: 410px;
    height: 265px;
    left: 20px;
    top: 20px;
    background: #bceb965e;
    border-radius: 188.5px;
}

.top223{
    position: absolute;
    width: 450px;
    height: 330px;
    left: 1030px;
    top: 40px;
    background-color: rgba(240, 254, 255, 0);
}

.texto223{
    position: absolute;
    width: 200px;
    height: 20px;
    left: 140px;
    top: 290px;
    background-color: rgba(240, 254, 255, 0);
    font-family: 'CantoraOne';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.top14{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 650px;
    top: 50px;
    border-radius: 100px;
    font-family: 'CantoraOne';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 112px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(124, 223, 169, 0);
    text-shadow: 2px 2px 5px rgb(186, 238, 155);
}

.meio1{
    position: absolute;
    width: 600px;
    height: 400px;
    left: 15px;
    top: 0; 
    border-radius: 100px;
    background-color: #aef0ad;
}

.meio12{
    position: absolute;
    width: 630px;
    height: 415px;
    left: 948px;
    top: 500px; 
    border-radius: 100px;
    background-color: #ace795;
}

.texme1{
    position: absolute;
    width: 590px;
    height: 400px;
    top: 45px;
    left: 0;
    border-radius: 100px;
    font-family: 'CantoraOne';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: right;
    background-color: rgba(240, 248, 255, 0);
}

.meio2{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 200px;
    top: 550px;
    border-radius: 150px;
    background: url(../imagens/arvore.png);
    animation: maio2 5s infinite;
    border: 3px solid #ace795;
}

@keyframes maio2{
    0%{left: 200px;}
    25%{left: 275px;}
    50%{left: 200px;}
    75%{left: 125px;}
    100%{left: 200px;}
}

.meio3{
    position: absolute;
    width: 600px;
    height: 400px;
    left: 15px;
    top: 0px;
    border-radius: 100px;
    background-color: #aef0ad;
}

.meio32{
    position: relative;
    width: 630px;
    height: 415px;
    left: 10px;
    top: 950px;
    border-radius: 100px;
    background-color:#ace795 ;
}

.texme3{
    position: absolute;
    width: 590px;
    height: 365px;
    left: 15px;
    top: 35px;
    border-radius: 100px;
    font-family: 'CantoraOne';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 40px;
    background-color: rgba(240, 248, 255, 0);
}

.baixo1{
    position: absolute;
    width: 500px;
    height: 350px;
    left: 58%;
    top: 1000px;
    border-radius: 100px;
    background-color: #ace795;
}

.baixo12{
    position: absolute;
    width: 459px;
    height: 274px;
    left: 23px;
    top:40px;
    background: url(../imagens/ODS.png);
    border-radius: 58px;
}

.baixo2{
    position: absolute;
    width: 98%;
    height: 950px;
    left: 15px;
    top: 1450px;
    mix-blend-mode: normal;
    background-color: #aef0ad;
    border-radius: 100px
}

.texbaix2{
    position: absolute;
    top: 0px;
    left: 15px;
    width: 98%;
    height: 200px;
    border-radius: 100px 100px 0px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #87e27900;
}

.b1{
    position: absolute;
    width: 210px;
    height: 310px;
    top: 30px;
    left: 50px;
    border-radius: 50px;
    background-color: #1f471e;
}

.b12{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 0px;
    left: 10px;
    border-radius: 50px;
    background-color: #74e672;
}

.textob1{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 15px;
    left: 0px;
    border-radius: 0px 100px 100px 0px;
    font-family: 'CantoraOne';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 25px;
    background-color: rgba(240, 248, 255, 0);
}

.b2{
    position: absolute;
    width: 210px;
    height: 310px;
    top: 30px;
    left: 300px;
    border-radius: 50px;
    background-color: #1f471e;
}

.b22{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 0px;
    left: 10px;
    border-radius: 50px;
    background-color: #74e672;
}

.textob2{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 15px;
    left: 0px;
    border-radius: 0px 100px 100px 0px;
    font-family: 'CantoraOne';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 26px;
    background-color: rgba(240, 248, 255, 0);
}

.b3{
    position: absolute;
    width: 210px;
    height: 310px;
    top: 30px;
    left: 1050px;
    border-radius: 50px;
    background-color: #1f471e;
}

.b32{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 0px;
    left: 10px;
    border-radius: 50px;
    background-color: #74e672;
}

.textob3{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 15px;
    left: 0px;
    border-radius: 0px 100px 100px 0px;
    font-family: 'CantoraOne';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 24px;
    background-color: rgba(240, 248, 255, 0);
}

.b4{
    position: absolute;
    width: 210px;
    height: 310px;
    top: 30px;
    left: 1300px;
    border-radius: 50px;
    background-color: #1f471e;
}

.b42{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 0px;
    left: 10px;
    border-radius: 50px;
    background-color: #74e672;
}

.textob4{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 15px;
    left: 0px;
    border-radius: 0px 100px 100px 0px;
    font-family: 'CantoraOne';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    background-color: rgba(240, 248, 255, 0);
}

.obj1{
    position: absolute;
    width: 1037px;
    height: 527px;
    top: 400px;
    left: 270px;
    border-radius: 100px;
    background-color: #1f471e;
}

.obj{
    position: absolute;
    width: 1024px;
    height: 512px;
    top: 0px;
    left: 0px;
    border-radius: 100px;
    background: url(../imagens/odj.png);
}

.meio{
    position: absolute;
    width: 440px;
    height: 310px;
    top: 30px;
    left: 570px;
    border-radius: 50px;
    background-color: #1f471e;
}

.fim{
    position: absolute;
    width: 100%;
    height: 150px;
    top: 2420px;
    left: 0;
    background-color: #1f471e;
}

#instagram{
    position: absolute;
    height: 50px;
    top: 90px;
    left: 1450px;
}

#unstagram:active{
    transform: scale(0.9);
}

#onu{
    position: absolute;
    height: 100px;
    top: 30px;
    left: 100px;
}

